In [1]:
import pandas as pd
import numpy as np
file_path = r"C:\Users\Sachin Awati\SACHIN'S WORKSPACE\Testing\self-practice-for-coding\Folder\stock\tcs_data_pipeline\output\TCS_10Y_ALL_DATA.csv"

df = pd.read_csv(file_path)

print(df.head())
print(df.info())

   Year         Open         High          Low        Close        Volume  \
0  2015   969.866426   990.863450   936.306776   973.594933  1.773608e+06
1  2016   981.511356  1119.737486   839.316124   981.618492  2.191959e+06
2  2017  1023.589241  1158.446527   883.182339  1023.779928  2.210239e+06
3  2018  1502.870675  1922.790354  1092.878968  1502.901093  3.452862e+06
4  2019  1803.542699  2002.902668  1530.669598  1801.708357  3.026918e+06

    Returns       DMA_50      DMA_200  Volatility_30D  Revenue  Net_Income  \
0  0.002080          NaN          NaN             NaN      NaN         NaN
1  0.000057   991.222289   994.124775        0.014557      NaN         NaN
2  0.000695  1006.087802   990.947361        0.012393      NaN         NaN
3  0.001565  1449.263450  1268.033656        0.015788      NaN         NaN
4  0.000793  1778.568670  1715.372250        0.014338      NaN         NaN

   EPS  Equity  PE  ROE  ROCE
0  NaN     NaN NaN  NaN   NaN
1  NaN     NaN NaN  NaN   NaN
2  NaN     NaN NaN  NaN   NaN
3  NaN     NaN NaN  NaN   NaN
4  NaN     NaN NaN  NaN   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            11 non-null     int64
 1   Open            11 non-null     float64
 2   High            11 non-null     float64
 3   Low             11 non-null     float64
 4   Close           11 non-null     float64
 5   Volume          11 non-null     float64
 6   Returns         11 non-null     float64
 7   DMA_50          10 non-null     float64
 8   DMA_200         10 non-null     float64
 9   Volatility_30D  10 non-null     float64
 10  Revenue         0 non-null      float64
 11  Net_Income      0 non-null      float64
 12  EPS             0 non-null      float64
 13  Equity          0 non-null      float64
 14  PE              0 non-null      float64
 15  ROE             0 non-null      float64
 16  ROCE            0 non-null      float64
dtypes: float64(16), int64(1)
memory usage: 1.6 KB
None

In [2]:
df

,Year,Open,High,Low,Close,Volume,Returns,DMA_50,DMA_200,Volatility_30D,Revenue,Net_Income,EPS,Equity,PE,ROE,ROCE
0,2015,969.866426,990.863450,936.306776,973.594933,1.773608e+06,0.002080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,981.511356,1119.737486,839.316124,981.618492,2.191959e+06,0.000057,991.222289,994.124775,0.014557,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1023.589241,1158.446527,883.182339,1023.779928,2.210239e+06,0.000695,1006.087802,990.947361,0.012393,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1502.870675,1922.790354,1092.878968,1502.901093,3.452862e+06,0.001565,1449.263450,1268.033656,0.015788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1803.542699,2002.902668,1530.669598,1801.708357,3.026918e+06,0.000793,1778.568670,1715.372250,0.014338,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020,2008.929066,2637.191071,1323.145273,2008.089398,3.982160e+06,0.001437,1947.883364,1859.020229,0.020148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021,3016.933152,3596.490725,2571.976504,3015.770794,2.753121e+06,0.001209,2940.646309,2633.812269,0.013018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022,3093.090530,3651.347804,2672.154542,3090.618323,2.344873e+06,-0.000393,3112.457546,3175.632294,0.014454,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023,3189.956391,3725.685658,2874.947082,3190.786133,1.933396e+06,0.000831,3149.999487,3062.441275,0.010998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024,3930.701208,4427.081095,3454.301549,3930.607141,2.413507e+06,0.000476,3863.162468,3619.212661,0.013269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2025,3360.305333,4177.633455,2855.948356,3356.944018,2.694074e+06,-0.000786,3458.545139,3734.840082,0.012560,NaN,NaN,NaN,NaN,NaN,NaN,NaN